@page
@model KeyManagementAPI.Pages.IndexModel
@{
    ViewData["Title"] = "Key Management Board";
}

<div class="container py-5">
    <h1 class="mb-4">Keys</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var k in Model.Keys)
                {
                 <tr class="@(k.Status == KeyStatus.Deleted)">
                        <td>@k.Name</td>
                        <td>@k.KeySize</td>
                        <td>@k.Status</td>
                        <td>@k.CreatedOn</td>
                        <td>
                 @if (k.Status == KeyStatus.Active)
                 {
                <form method="post" asp-page-handler="Delete" class="d-inline"> 
                <input type="hidden" name="id" value="@k.Id" />
                <button type="submit" class="btn btn-sm btn-warning">Delete</button>
                </form>
                 }
                 </td>
                 </tr>
                }
            </tbody>
        </table>
    </div>
</div>